body {
  background-color: lightblue;
}
button {
  margin-right:5px;
  height:30px;
  width:100px;
}
.sortBox {
  width: 100%;height: 50px;
  }
.bigpart {
  margin-top:150px;
}
.samplebody {
  width:300px;
  height: 450px;
  margin-bottom: 15px;
  float:left;
  margin-right:20px;
  background-color: lightblue;
}
.innerBody {
  border:1px solid black;
  height:100%;
  border-radius: 25px;
  box-shadow: 2px 3px 10px #888888;
  background-color: #fff;
}
.sampleBodyBg {
  background-image: url('http://res.cloudinary.com/bguggie/image/upload/v1425514882/darktiles_bg_gike55.jpg');
  background-size: 45%;
  height:180px;
  border:1px solid;
  border-radius: 25px 25px 0 0;
}
.sampleBodyBg2 {
  background-image: url('http://res.cloudinary.com/bguggie/image/upload/v1425514888/wide_ggbridge_bg_teneax.jpg');
  background-size: cover;
  height:180px;
  border:1px solid;
  border-radius: 25px 25px 0 0;
  background-repeat: no-repeat;
}
.tImg {
  width: 65%;
  margin-left: 17%;
  margin-top: 9px;
  height:150px;
}

.mid {
  height: 188px;
  padding: 5px 10px;
}

.heading {
  font-size: 2.2rem;
  line-height: 1em;
  margin: 0px;
}

.subhead {
  font-size: 1.5rem;
  margin: 14px 0;
}

.priceBox {
  bottom: 5px;
}
hr {
  width:80%;
  border-top: 2px solid #eeeeee !important;
  margin-bottom: 5px !important;
}
.price {
  float: right;
  color: green;
  font-size: 2rem;
  padding-right: 10px;
  margin: 0px;
}
