.item_container {
  width: 300px;
  height: 500px;
  float: left;
  margin: 10px;
}
.innerBody {
  border:1px solid black;
  height:500px;
  margin: 5px 10px;
  width: 280px;
  border-radius: 25px;
  box-shadow: 2px 3px 10px #888888;
  background-color: #fff;
  padding:5px;
}
.item_img {
  height:200px;
  width:100%;
}
  .tImg {
    width: 65%;
    margin-left: 17%;
    margin-top: 9px;
    height:150px;
  }
.item_info_box {
  width:100%;
  height:200px;
}
.edit_box {
  width:100%;
  height:20px;
}
button {
  float:right;
    border-radius: 25px;
}
